html {
    box-sizing: border-box
  }
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  
  /* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
  :root {
    font-size: 62.5%;
    --cursive: "Yellowtail", cursive;
    --serif: "Bona-Nova", serif;
  }

  body {
      --body-bg: #277714;
      --btn-text-color: #FFFFFF;
      --body-text-color: #000000;
      --card-text-color: #000000;
      --light-dark-btn-bg: #183446;
      --light-dark-btn-color: #FFFFFF;
      --play-btn-bg: #E57A44;
      --hit-btn-bg: #3173D7;
      --stand-btn-bg: #FF1E00;
      --light-dark-btn-content: "Dark Mode";

    
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--body-bg);
  }

  body.dark {
      --body-bg: #183446;
      --btn-text-color: #000000;
      --body-text-color: #77DFE4;
      --card-text-color: #000000;
      --light-dark-btn-bg: #277714;
      --light-dark-btn-color: #000000;
      --play-btn-bg: #4F86C6;
      --hit-btn-bg: #BD7F21;
      --stand-btn-bg: #706C61;
      --light-dark-btn-content: "Light Mode";
  }

  #main-title {
      font-size: 48px;
      color: var(--body-text-color);
      font-family: var(--cursive);
  }

  #game-goal {
      font-size: 28px;
      color: var(--body-text-color);
      font-family: var(--serif);
  }

  #dealer-total {
      background-color: lightblue;
      position: fixed;
      top: 31%;
      width: 150px;
      height: 200px;
      border-radius: 5%;
      text-align: center;
  }

  #message {
      position: fixed;
      top: 13%;
      font-size: 44px;
      color: var(--body-text-color);
      font-family: var(--serif);
  }

  #player-total {
      background-color: lightblue;
      position: fixed;
      top: 60%;
      width: 150px;
      height: 200px;
      border-radius: 5%;
      text-align: center;
  }

  #hit-btn {
      position: fixed;
      top: 87%;
      left: 43%;
      width: 100px;
      height: 60px;
      border: 3px solid white;
      border-radius: 20%;
      font-size: 20px;
      color: var(--btn-text-color);
      background-color: var(--hit-btn-bg);
      font-family: var(--serif);
  }

  #stand-btn {
      position: fixed;
      top: 87%;
      right: 43%;
      width: 100px;
      height: 60px;
      border: 3px solid white;
      border-radius: 20%;
      font-size: 20px;
      color: var(--btn-text-color);
      background-color: var(--stand-btn-bg);
      font-family: var(--serif);
  }

  #play-button {
      position: fixed;
      top: 21%;
      width: 70px;
      height: 40px;
      font-size: 16px;
      border: 3px solid white;
      color: var(--btn-text-color);
      background-color: var(--play-btn-bg);
      font-family: var(--serif);
  }

  #player-title {
      position: fixed;
      top: 56%;
      font-size: 24px;
      color: var(--body-text-color);
      font-family: var(--serif);
  }

  #dealer-title {
      position: fixed;
      top: 27%;
      font-size: 24px;
      color: var(--body-text-color);
      font-family: var(--serif);
  }

  #player-cards {
      font-size: 16px;
      position: fixed;
      top: 61%;
      font-weight: 600;
      color: var(--card-text-color);
      font-family: var(--serif);
  }

  #player-score {
      font-size: 44px;
      position: fixed;
      top: 70%;
      font-weight: 520;
      color: var(--card-text-color);
      font-family: var(--serif);
  }

  #dealer-cards {
      font-size: 16px;
      position: fixed;
      top: 33%;
      font-weight: 600;
      color: var(--card-text-color);
      font-family: var(--serif);
  }

  #dealer-score {
      font-size: 44px;
      position: fixed;
      top: 42%;
      font-weight: 520;
      color: var(--card-text-color);
      font-family: var(--serif);
  }

  #red-card-d {
      width: 150px;
      height: 200px;
  }

  #red-card-p {
      width: 150px;
      height: 200px;
  }

  #light-dark-btn {
      position: fixed;
      top: 90%;
      right: 10%;
      width: 100px;
      height: 50px;
      font-size: 16px;
      border: 3px solid white;
      background-color: var(--light-dark-btn-bg);
      font-family: var(--serif);
  }

  #light-dark-btn::after {
      content: var(--light-dark-btn-content);
      color: var(--light-dark-btn-color);
  }