html {
    box-sizing: border-box
  }
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  
  /* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
  :root {
    font-size: 62.5%
  }

  body {
      --body-bg: #529152;
      --btn-text-color: #FFFFFF;
      --body-text-color: #000000;
      --light-dark-btn-bg: #404040;
      --light-dark-btn-color: #FFFFFF;
      --play-btn-bg: #8A8A8A;
      --light-dark-btn-content: "Dark Mode";

    
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--body-bg);
  }

  #main-title {
      font-size: 48px;
      color: var(--body-text-color);
  }

  #game-goal {
      font-size: 28px;
      color: var(--body-text-color);
  }

  #dealer-total {
      background-color: lightblue;
      position: fixed;
      top: 32%;
      width: 150px;
      height: 200px;
      text-align: center;
  }

  #message {
      position: fixed;
      top: 13%;
      font-size: 44px;
      color: var(--body-text-color);
  }

  #player-total {
      background-color: lightblue;
      position: fixed;
      top: 60%;
      width: 150px;
      height: 200px;
      text-align: center;
  }

  #hit-btn {
      position: fixed;
      top: 87%;
      left: 43%;
      width: 60px;
      height: 40px;
      border-radius: 30%;
      color: var(--btn-text-color);
  }

  #stand-btn {
      position: fixed;
      top: 87%;
      right: 43%;
      width: 60px;
      height: 40px;
      border-radius: 30%;
      color: var(--btn-text-color);
  }

  #play-button {
      position: fixed;
      top: 21%;
      width: 60px;
      height: 40px;
      color: var(--btn-text-color);
      background-color: var(--play-btn-bg);
  }

  #cash-header {
      position: absolute;
      left: 100px;
      top: 750px;
      font-size: 20px;
  }

  #cash-total {
      position: absolute;
      left: 100px;
      top: 775px;
      font-size: 18px;
  }

  #bet-header {
      position: absolute;
      right: 100px;
      top: 750px;
      font-size: 20px;
  }

  #bet {
      position: absolute;
      right: 100px;
      top: 775px;
  }

  #player-title {
      position: fixed;
      top: 56%;
      font-size: 24px;
      color: var(--body-text-color);
  }

  #dealer-title {
      position: fixed;
      top: 28%;
      font-size: 24px;
      color: var(--body-text-color);
  }

  #player-cards {
      font-size: 17px;
      position: fixed;
      top: 61%;
      font-weight: 450;
      color: var(--body-text-color);
  }

  #player-score {
      font-size: 36px;
      position: fixed;
      top: 70%;
      font-weight: 450;
      color: var(--body-text-color);
  }

  #dealer-cards {
      font-size: 16px;
      position: fixed;
      top: 33%;
      font-weight: 450;
      color: var(--body-text-color);
  }

  #dealer-score {
      font-size: 36px;
      position: fixed;
      top: 42%;
      font-weight: 400;
      color: var(--body-text-color);
  }

  #red-card-d {
      width: 150px;
      height: 200px;
  }

  #red-card-p {
      width: 150px;
      height: 200px;
  }

  #light-dark-btn {
      position: fixed;
      top: 87%;
      right: 10%;
      width: 60px;
      height: 40px;
      background-color: var(--light-dark-btn-bg);
  }

  #light-dark-btn::after {
      content: var(--light-dark-btn-content);
      color: var(--light-dark-btn-color);
  }