html {
    box-sizing: border-box
  }
  
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  
  /* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
  :root {
    font-size: 62.5%
  }

  body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  #main-title {
      font-size: 48px;
  }

  #game-goal {
      font-size: 28px;
  }

  #dealer-total {
      background-color: lightblue;
      position: fixed;
      top: 30%;
      width: 150px;
      height: 200px;
      text-align: center;
      font-size: 18px;
  }

  #message {
      position: fixed;
      top: 15%;
      font-size: 44px;
  }

  #player-total {
      background-color: lightblue;
      position: fixed;
      top: 60%;
      width: 150px;
      height: 200px;
      text-align: center;
      /* font-size: 18px; */
  }

  .btn-group {
      position: fixed;
      top: 85%
  }

  #play-button {
      position: fixed;
      top: 22%;
  }

  #cash-header {
      position: absolute;
      left: 100px;
      top: 750px;
      font-size: 20px;
  }

  #cash-total {
      position: absolute;
      left: 100px;
      top: 775px;
      font-size: 18px;
  }

  #bet-header {
      position: absolute;
      right: 100px;
      top: 750px;
      font-size: 20px;
  }

  #bet {
      position: absolute;
      right: 100px;
      top: 775px;
  }

  #player-title {
      position: fixed;
      top: 56%;
      font-size: 24px;
  }

  #dealer-title {
      position: fixed;
      top: 26%;
      font-size: 24px;
  }

  #player-cards {
      font-size: 16px;
  }

  #player-score {
      font-size: 36px;
  }

  #dealer-cards {
      font-size: 16px;
  }

  #dealer-score {
      font-size: 36px;
  }